html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.loanForm {
    margin: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

    .loanForm input {
        width: 100%;
        padding: .5rem;
    }


.loanInfo {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#paymentTitle {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}

#payment {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

#loanBreakDown {
    text-align: center;
}

#totalCost {
    font-weight: bold;
}
